* {

    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* , *::after, *::before{

    box-sizing: border-box;
}


body {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E2244;
    overflow: hidden;
}

.container {

    width: 80%;
    margin-top: 60px;
    background-color: whitesmoke;
    padding: 60px 30px 50px 30px;
    height: 550px;
    overflow-y: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {

        display: none;
    }


    h1 {

        text-transform: capitalize;
        font-weight: 550;
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 20px;
    }

    .questions {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &::-webkit-scrollbar {

            display: none;
        }

        .question-box {

            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            padding: 10px 5px 10px 5px;
        }

        .visible-info {

            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {

                font-weight: 400;
                font-size: 1.5rem;
            }

            .icon {

                font-weight: bold;
                font-size: 1.1rem;
                cursor: pointer;
                transition: .4s;
            }

            .subract-icon {

                display: none;
                font-size: 1.5rem;
            }
        }

        .hidden-info {

            height: 0;
            overflow: hidden;
            transition: .3s;
            overflow-y: auto;
            opacity: 0;
        
            .info {
                font-size: .9rem;
                margin-right: 20px;
                transition: 1s;
            }
        }

        .question-box {

            &.expander {

                .hidden-info {

                    opacity: 1;
                    height: max-content;
                    margin-top: 5px;
                }
            }
        }

    }
}

